/* mobile responsive */

@media (max-width: 767px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    padding: 2rem;
  }

  .left {
    display: flex;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
  }

  .intro {
    font-size: 1.4rem;
    line-height: 3rem;
    color: #1c1a21;
    padding: 20px;
    letter-spacing: 1px;
    backdrop-filter: blur(10px) saturate(166%);
    -webkit-backdrop-filter: blur(10px) saturate(166%);
    background-color: #c7bba4;
    border-radius: 12px;
    border: 5px solid #a69388;
    filter: drop-shadow(15px 15px 3px #7e735e);
    margin-bottom: 3rem;
  }

  .logo {
    height: 80%;
    width: 80%;
    margin-top: 6rem;
    filter: drop-shadow(10px 10px 2px #333333);
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
  }

  .slogan {
    font-size: 1.2rem;
    color: #c0c0c0;
    margin-top: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    filter: drop-shadow(10px 10px 2px #333333);
  }
}

/* tablet responsive */

@media (min-width: 768px) and (max-width: 1023px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .left {
    display: none;
  }

  .right {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 90%;
  }

  .intro {
    font-size: 1.4rem;
    line-height: 3rem;
    color: #1c1a21;
    padding: 20px;
    letter-spacing: 1px;
    backdrop-filter: blur(10px) saturate(166%);
    -webkit-backdrop-filter: blur(10px) saturate(166%);
    background-color: #c7bba4;
    border-radius: 12px;
    border: 5px solid #a69388;
    filter: drop-shadow(15px 15px 3px #7e735e);
    margin-bottom: 3rem;
  }

  .logo {
    height: 70%;
    width: 70%;
    margin-top: 6rem;
    filter: drop-shadow(10px 10px 2px #333333);
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
  }

  .slogan {
    font-size: 2rem;
    color: #c0c0c0;
    margin-top: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    filter: drop-shadow(10px 10px 2px #333333);
  }
}

/* desktop responsive */

@media (min-width: 1024px) {
  .home {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .homelink {
    text-decoration: none;
    font-size: 1.5rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: fit-content;
    margin-bottom: 0.5rem;
    color: wheat;
  }

  .homelink::before,
  .homelink::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
  }

  .homelink::before {
    background-color: rgb(255, 127, 80);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .homelink::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    color: rgb(255, 127, 80);
  }

  .homelink:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

  .homelink:hover::after {
    transform: translate3d(0, 0, 0);
  }

  .homelink span {
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .homelink:hover span {
    transform: translate3d(-200%, 0, 0);
  }

  .left {
    align-self: flex-start;
    margin-left: 9rem;
    margin-top: 7rem;
    position: fixed;
    top: 0;
  }

  .right {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 60%;
    margin-left: 25dvw;
  }

  .intro {
    width: 100%;
    font-size: 1.4rem;
    line-height: 3rem;
    color: #1c1a21;
    padding: 20px;
    letter-spacing: 1px;
    backdrop-filter: blur(10px) saturate(166%);
    -webkit-backdrop-filter: blur(10px) saturate(166%);
    background-color: #c7bba4;
    border-radius: 12px;
    border: 5px solid #a69388;
    filter: drop-shadow(15px 15px 3px #7e735e);
    margin-bottom: 3rem;
  }

  .navButtons {
    display: none;
  }

  .logo {
    height: 70%;
    width: 70%;
    margin-top: 6rem;
    filter: drop-shadow(10px 10px 2px #333333);
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
  }

  .slogan {
    font-size: 2rem;
    color: #c0c0c0;
    margin-top: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    filter: drop-shadow(10px 10px 2px #333333);
  }
}
